<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CRM - @ViewData["Title"]</title>

	@Html.Partial(nameof(EnumPartialPages._StylesPartial))

	@Html.Partial(nameof(EnumPartialPages._ScriptsPartial))
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            @* Vertical menu - Sidebar section  *@
            @*@Html.Partial(nameof(EnumPartialPages._SidebarPartial))*@

            @*Horizontal menu - Navbar Section*@
            @await Html.PartialAsync(nameof(EnumPartialPages._NavbarPartialHorizontal))

            <div class="right-column">
                @* Vertical menu - Navbar section *@
                @*@await Html.PartialAsync(nameof(EnumPartialPages._NavbarPartial))*@

                @*Horizontal menu - Sidebar Section*@
                @Html.Partial(nameof(EnumPartialPages._SidebarPartialHorizontal))

                <main id="main-content" class="main-content p-3 p-md-5" role="main">
                    <div class="row pt-5 pl-5 p-md-0">
                        <div class="col-xs-12 pt-3 p-md-0">
                            <h1><b>@ViewData["Title"]</b></h1>
                        </div>
                    </div>

                    @RenderBody()

                    <div class="row mb-5">
                        <div class="col-xs-12">
                            <footer>
                                2018 &copy; Comparison Advantage. All rights reserved
                            </footer>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

    @RenderSection(nameof(EnumLayoutSections.Templates), required: false)

    @RenderSection(nameof(EnumLayoutSections.Scripts), required: false)
</body>
</html>
