@{
    ViewData[nameof(EnumViewData.Title)] = nameof(EnumController.Customers);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts { 
    <script type="text/javascript" src="~/js/viewmodels/LeadAssignmentResponseVM.js"></script>

    <script type="text/javascript" src="~/js/action.js"></script>

    <script type="text/javascript" src="~/js/customer.js"></script>
    <script type="text/javascript" src="~/js/lead.js"></script>
    <script type="text/javascript" src="~/js/assignment.js"></script>
}

@section Templates {
    @Html.Partial(nameof(EnumPartialPages._TemplateGridLeads))

    @Html.Partial(nameof(EnumPartialPages._TemplateGridAssignments))

    @Html.Partial(nameof(EnumPartialPages._MessageComposePartial))
}

<div class="row mb-4">
    <div class="col-md-12 mb-5 mb-">
        <div class="card">
            <div class="card-body pt-0">
                @(Html.DevExtreme().DataGrid<Customer>()
                    .ID("gridCustomers")
                    .CommonConfigs()
                    .DataSource(ds => ds.Mvc()
                        .Controller(nameof(EnumController.Customers))
                        .LoadAction("Get")
                        .InsertAction("Post")
                        .UpdateAction("Put")
                        .DeleteAction("Delete")
                        .Key("Id")
                    )
                    .SearchPanel(DXGridConfigs.ShowSearchPanel())
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.ContactName);
                        columns.AddFor(m => m.ContactNumber);
                        columns.AddFor(m => m.EMail);
                        columns.AddFor(m => m.BusinessName);

                        columns.AddFor(m => m.Address.StreetAddress).Visible(false);
                        columns.AddFor(m => m.Address.Suburb).Visible(false);
                        columns.AddFor(m => m.Address.State).Visible(false);
                        columns.AddFor(m => m.Address.PostCode).Visible(false);
                    })
                    .Editing(e =>
                        e.Mode(GridEditMode.Popup)
                        .UseIcons(true)
                        .AllowAdding(true)
                        .AllowUpdating(true)
                        .AllowDeleting(true)
                        .Form(f =>
                            f.Items(i =>
                            {
                                i.AddGroup().Caption("Personal Information").Items(groupItems =>
                                {
                                    groupItems.AddSimpleFor(c => c.ContactName);
                                    groupItems.AddSimpleFor(c => c.ContactNumber);
                                    groupItems.AddSimpleFor(c => c.EMail);
                                    groupItems.AddSimpleFor(c => c.BusinessName);
                                });
                                i.AddGroup().Caption("Address").Items(groupItems =>
                                {
                                    groupItems.AddSimpleFor(c => c.Address.StreetAddress);
                                    groupItems.AddSimpleFor(c => c.Address.Suburb);
                                    groupItems.AddSimpleFor(c => c.Address.State);
                                    groupItems.AddSimpleFor(c => c.Address.PostCode);
                                });
                            })
                        )
                        .Popup(DXGridConfigs.EditingPopup(nameof(Customer)))
                    )
                    .MasterDetail(m => m
                        .Enabled(true)
                        .Template(new TemplateName("masterdetail-template-grid-leads"))
                        .AutoExpandAll(false)
                    )
                )
            </div>
        </div>
    </div>
</div>

@using(Html.DevExtreme().NamedTemplate("masterdetail-template-grid-leads"))
{
    @(Html.DevExtreme().TabPanel()
        .FocusStateEnabled(false)
        //.ElementAttr("class", "tabpanel-single-item") // Adding this class to hide tabpanel's header for a tabpanel with only 1 item
        .Items(items =>
        {
            items.Add()
                .Title("Leads")
                .Template(new TemplateName("template-grid-leads-by-customer"))
                .Option("templateData", new {
                    Id = new JS("data.Id")
                });

            items.Add()
                .Title("Address")
                .Template(new TemplateName("template-customer-address"))
                .Option("templateData", new JS("data"));
        })
    )
}


@using (Html.DevExtreme().NamedTemplate("template-customer-address"))
{
    @(Html.DevExtreme().Form<Customer>()
        .ElementAttr("class", "address-form form-container")
        .ElementAttr("style", "padding: 20px; background-color: white;")
        .FormData(new JS("templateData"))
        .ColCount(2)
        .Items(items =>
        {
            items.AddSimpleFor(c => c.Address.StreetAddress);
            items.AddSimpleFor(c => c.Address.Suburb);
            items.AddSimpleFor(c => c.Address.State);
            items.AddSimpleFor(c => c.Address.PostCode);
        })
        .ReadOnly(true)
    )
}